[tool.ruff]
src = ["rated_exporter_sdk", "tests"]
line-length = 100

[tool.ruff.lint]
select = [
    "E",
    "F",
    "I",
    "PL",
    "N",
    "RUF",
    "C90",
    "TD",
    "G",
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"

[tool.mypy]
no_implicit_optional = true
