ruff==0.3.7
mypy==1.9.0
black==24.4.0
pytest==8.1.1
PyYAML==6.0.2
pre-commit==3.7.0
setuptools==70.0.0
wheel==0.40.0
twine==4.0.2
docker>=6.1.2,<7.0.0
requests~=2.32.3
PyYAML~=6.0.2
setuptools~=70.0.0
requests>=2.31.0
pytest-mock>=3.11.1
urllib3==1.26.18  # For LibreSSL compatibility
